body {
	background-color: #dbc8b7;
}

nav {
	text-align: right;
	border-bottom: 1px solid #413d38;
}

nav > ul > li { 
	display: inline-block;
	margin: 0 auto;
	vertical-align: top;
	padding-bottom: 10px;
	padding-right: 15px;
}

nav ul {
	padding: 0;
	font-family: "Impact";
	font-size: 30px;
}

#back {
	text-align: left;
	font-family: "Impact";
	font-size: 30px;
	padding: 0;
	float: left;
	padding-left: 10px;	
}

a:hover {;
	color: #413d38;
}

a {
	text-decoration: none;
	color: #8d6b4d;
}

section {
	margin-top: 0px;
	/*margin-left: 90px;*/
	/*padding: 20px;*/
	height: 950px;
	width: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

	
}

#pugger11 {
	background-position: bottom center;
}

#pugger {
	background-image: url(images2/pugger.png);
}
#pugger1 {
	background-image: url(images2/pugger1.jpg);
}
#pugger2 {
	background-image: url(images2/pugger2.jpg);
}
#pugger3 {
	background-image: url(images2/pugger3.jpg);
}
#pugger4 {
	background-image: url(images2/pugger4.jpg);
}
#pugger5 {
	background-image: url(images2/pugger5.jpg);
}
#pugger6 {
	background-image: url(images2/pugger6.jpg);
}
#pugger7 {
	background-image: url(images2/pugger7.jpg);
}
#pugger8 {
	background-image: url(images2/pugger8.jpg);
}
#pugger9 {
	background-image: url(images2/pugger9.jpg);
}
#pugger10 {
	background-image: url(images2/pugger10.jpg);
}
#pugger11 {
	background-image: url(images2/pugger11.jpg);
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #dbc8b7;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #dbc8b7;
    top: 5px;
}
