$main-bk-color: #dbc8b7;
$hover-color: #413d38;
$link-color: #8d6b4d;

body {
	background-color: $main-bk-color;
}

nav {
	text-align: right;
	border-bottom: 1px solid $hover-color;
}

nav > ul > li { 
	display: inline-block;
	margin: 0 auto;
	vertical-align: top;
	padding-bottom: 10px;
	padding-right: 15px;
}

nav ul {
	padding: 0;
	font-family: "Impact";
	font-size: 30px;
}

#back {
	text-align: left;
	font-family: "Impact";
	font-size: 30px;
	padding: 0;
	float: left;
	padding-left: 10px;	
}

a:hover {;
	color: $hover-color;
}

a {
	text-decoration: none;
	color: $link-color;
}

h1 {
	font-family: "Impact";
	color: $hover-color;
	font-size: 75px;
	text-align: center;
}

#img {
	text-align: center;
}

.img {
	margin-top: 10px;
	display: inline-block;

}

.img img:hover {
	opacity: 0.6;
    transition: opacity 1s ease-in-out;
}

img {
	width: 300px;
	height: 200px;
}