$main-bk-color: #dbc8b7;
$hover-color: #413d38;
$link-color: #8d6b4d;
$button-color: #baa694;

body {
	background-color: $main-bk-color;
}

nav {
	text-align: right;
	border-bottom: 1px solid $link-color;
	position: fixed;
	width: 100%;
	height: 75px;
	padding-top: 0;
	padding-bottom: 20px;
	background-color: $main-bk-color;
	opacity: .7;
}

nav > ul > li { 
	display: inline-block;
	margin: 0 auto;
	vertical-align: top;
	padding-bottom: 10px;
	padding-right: 30px;
}

nav ul {
	padding: 0;
	font-family: "Impact";
	font-size: 30px;
}

#back {
	text-align: left;
	font-family: "Impact";
	font-size: 30px;
	padding: 0;
	float: left;
	padding-left: 10px;	
}

a:hover {;
	color: $link-color;
}

a {
	text-decoration: none;
	color: $hover-color;
}

h1 {
	font-family: "Impact";
	color: $link-color;
	font-size: 75px;
	text-align: center;
	padding-top: 120px;
	margin: 0 auto;
}

h2 {
	font-family: "Impact";
	font-size: 25px;
	text-align: left;
	color: $hover-color;
	margin-left: 25px;
}

p {
	font-family: "Verdana";
	font-size: 15px;
	text-align: justify;
	color: $link-color;
	margin-left: 150px;
	margin-right: 150px;
}

#about {
	width: 100%;
	// margin-left: 25px;
	background-color: #baa694
}

#img {
	text-align: center;
}

.img {
	margin-top: 10px;
	display: inline-block;

}

.img img:hover {
	opacity: 0.6;
    transition: opacity 1s ease-in-out;
}

img {
	width: 300px;
	height: 200px;
}

#location h3 {
 	font-family: "Impact";
	font-size: 20px;
	color: $hover-color;
	margin-left: 130px;
}

#contact-us {
	float: left;
	width: 420px;
	margin-left: 130px;
	font-family: "Verdana";
	font-size: 15px;
	text-align: justify;
	color: $link-color;
	padding-bottom: 20px;
}

#newsletter h3 {
	font-family: "Impact";
	font-size: 20px;
	color: $hover-color;
	margin-left: 680px;
	margin-top: -45px;
}

#signup {
	float: left;
	width: 420px;
	font-family: "Verdana";
	font-size: 15px;
	text-align: justify;
	color: $link-color;
	margin-left: 130px;
	margin-bottom: 20px;
}

#newsletter button {
	width: 80px;
	height: 20px;
	color: $hover-color;
	background-color: $button-color;
	font-size: 15px;
	padding-bottom: 20px;
	border-radius: 5px;
	border: 1px solid $hover-color;
}
// #newsletter h3 {
// 	font-family: "Impact";
// 	font-size: 20px;
// 	text-align: left;
// 	color: $hover-color;
// 	width: 420px;
// 	float: left;
// }
// #newsletter {
// 	width: 580px;
// 	float: left;
// 	// margin-top: 0px;
// 	margin-left: 50px;
// }
// #newsletter p {
// 	margin-left: 25px;
// 	text-align: justify;

// }

.exit {
	font-family: "Impact";
	// text-align: left;
}

.modal-wrapper {
	background-color: rgba(0, 0, 0, .7);
	width: 100%;
	height: 100vh;
	position: fixed;

	top: 0;
	left: 0;

	display: none;
}

.modal-wrapper h3 {
	font-family: "Impact";
	font-size: 20px;
	color: $link-color;
}

.modal-wrapper div {
	font-family: "Verdana";
	font-size: 12px;
	color: $hover-color;
	text-align: center;
}

.modal {
	border: 1px solid $hover-color;
	background: $main-bk-color;
	width: 300px;
	height: 200px;

	margin: 0 auto;
	position: relative;
	top: 50%;
	margin-top: -200px; /* half of its height */

	border-radius: 10px;

	padding: 30px;
}

button {
	width: 50px;
	height: 20px;
	color: $hover-color;
	background-color: $button-color;
	font-size: 10px;
	border-radius: 5px;
	border: 1px solid $hover-color;
	font-family: "Verdana";
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: $main-bk-color;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: $main-bk-color;
    top: 5px;
}