$main-color: #8d6b4d;
$other-color: #c3a488; 

#carousel {
	position: relative;
}
#carousel img {
	height: 450px;
	width: 680px;
	position: absolute;
	display: none;
	top: 0px;
	left: 250px;
	border: 40px solid $main-color
}

#carousel img:first-of-type {
		display: block;
}

h1 {
	font-family: 'Crafty Girls';
	text-align: center;
	font-size: 38px;
	color: white;
	/*background-color: white;*/
}

#ent {
	height: 50px;
	width: 200px;
	background-color: $other-color;
	border: 3px solid $main-color;
	font-family: 'Crafty Girls';
	font-size: 25px;
	color: $main-color;
	margin-top: 20px;
}

#enter {
	position: absolute;
	margin-left: 500px;
	margin-top: 490px;
}

#next {
	position: relative;
	left: 941px;
	bottom: -250px;
	background-color: transparent; 
}

#prev {
	position: relative;
	left: 183px;
	bottom: -250px;
	background-color: $main-color;
}

#next img {
	height: 50px;
	width: 50px;
}

#prev img {
	height: 50px;
	width: 50px;
}


body {
	background-image: url("dog-paw.jpg");
	background-position: center;
	background-color: $main-color;	
}

// @media all 