$main-color: #8d6b4d;
$other-color: #c3a488; 
$title-color: #daccbc;
$background-title: #362d24;

#carousel {
	position: relative;
	height: 450px;
	width: 680px;
	margin: 0 auto;
	border: 40px solid $main-color;
	border-radius: 5px;
}

#carousel img {
	height: 100%;
	width: 100%;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
}

#carousel img:first-of-type {
		display: block;
}

h1 {
	font-family: 'Impact';
	text-align: center;
	font-size: 45px;
	color: $title-color;
	font-weight: bold;
	background-color: $background-title;
	width: 770px;
	margin: 15px auto 15px;
	border-radius: 5px;
}

// #fc{
// 	background-color: #362d24;
// 	height: 20px;
// 	width: 760px;
// 	display: block;
// 	margin: 0 auto;
// }

#ent {
	height: 50px;
	width: 200px;
	background-color: $other-color;
	border: 3px solid $main-color;
	font-family: 'Impact';
	font-size: 25px;
	color: $main-color;
	margin-top: 20px;
	border-radius: 5px;
	border: $background-title;
}

#enter {
	position: absolute;
	margin: 0 auto;
	left: 540px;
	top: 590px;
}

#next {
	display: inline-block;
	position: absolute;
	right: -80px;
	top: 225px;
	background-color: $main-color; 
	z-index: 1;
	border-radius: 5px;
	border: $background-title;
}

#prev {
	display: inline-block;
	position: absolute;
	left: -80px;
	top: 225px;
	background-color: $main-color;
	z-index: 1;
	border-radius: 5px;
	border: $background-title;
}	

#carousel-container {
	position: relative;
	width: 760px;
	height: 450px;
	margin: 0 auto;
	bottom: 10px

}

#next img {
	height: 50px;
	width: 50px;
}

#prev img {
	height: 50px;
	width: 50px;
}

#ent a {
	text-decoration: none;
	color: $main-color;
}

#ent a:hover {
	text-decoration: underline;
}

body {
	background-image: url("dog-paw.jpg");
	background-position: center;
	background-color: $main-color;	
}

@media all and (min-width: 1440px) {
	#enter {
		left: 620px;
	}
}

@media all and (max-width: 936px) {
	#enter {
		left: 370px;
		top: 440px;
	}
	
	#carousel {
		height: 300px;
		width: 530px;
	}
	#next , #prev {
		top: 145px;
	}

	#next {
		right: 0px;
	}

	#prev {
		left: 0px;
	}
}

@media all and (max-width: 768px) {
	#enter {
		left: 290px;
	}
}

@media all and (max-width: 760px) {
	h1 {
		font-size: 30px;
	}

	#enter {
		left: 330px;
		top: 290px;
	}

	#ent {
		height: 40px;
		width: 100px;
		font-size: 20px;
	}
	
	#carousel {
		height: 210px;
		width: 430px;
		border: 20px solid $main-color;
		border-radius: 5px;
	}
	#next , #prev {
		top: 100px;
	}

	#next {
		right: 100px;
	}

	#prev {
		left: 100px;
	}

	#next img , #prev img {
		height: 30px;
		width: 30px;
	}

	body {
		overflow: hidden;
	}
}
@media all and (max-width: 414px) {
	body {
		margin-left: -80px;
	}
	
	#carousel {
		height: 100px;
		width: 230px;
		border: 10px solid $main-color;
		border-radius: 5px;
		margin-left: 150px;
	}

	#enter {
		left: 150px;
		top: 160px;
	}

	#ent {
		height: 30px;
		width: 90px;
		font-size: 15px;
	}

	#next , #prev {
		top: 50px;
	}

	#next {
		right: 315px;
	}

	#prev {
		left: 105px;
	}
	
	h1 {
		margin-left: -105px;
	}

	* {
		margin: 0 auto;
	}
}

